body,
html {
  /* height: 100%; */
  margin: 0;
}

#bgi {
  background-image: url(/assets/Dead\ Horse\ Point.jpg);
  height: auto;
  width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.navContainer {
  display: flex;
  margin-left: 1%;
  margin-top: 2%;
  justify-content: space-around;
  align-items: flex-start;
  width: 30%;
}

#mainNav {
  list-style: none;
  padding: 0;
}

.item_menu {
  margin: 2px;
}

a:link {
  color: #565554;
  display: flex;
  margin-left: 1%;
  text-decoration: none;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
}

a:hover {
  color: #9fb7b9;
  text-decoration: underline;
}

.topContainer {
  display: flex;
  /* border: 2px solid black; */
}

.wordContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 50%;
  padding: 0;
  margin: 0;
  /* border: 2px solid black; */
}

.subPara {
  font-size: 21px;
  color: black;
  border: 2px solid black;
  width: 90%;
  margin-left: 3rem;
  margin-top: 2em;
  word-spacing: 2px;
}

#profilePic {
  margin-top: 3em;
  /* margin-left: 15em; */
  /*margin-right: 0%;
  padding-right: 0; */
  border: lightgray;
  max-width: 50%;
  box-shadow: 2px 8px 8px 4px rgba(89, 82, 93, 0.68);
  box-shadow: 2px 8px 8px 4px rgba(89, 82, 93, 0.68);
  border-radius: 50px;
  /* border: 2px solid black; */
}

.subtitle {
  color: #565554;
  margin-left: 3rem;
  padding: 0;
  width: 50%;
  margin-bottom: 0;
  /* border: 2px solid black; */
}

.skillsContainer {
  background-color: hsla(278, 14%, 58%, 0.702);
  margin-top: 8em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  border: dotted black;
  width: 20vw;
  height: 10vh;
  align-items: center;
  justify-content: space-evenly;
}

.skills {
  color: rgb(206, 202, 202);
  font-family: Georgia, serif;
  /* word-spacing: 2px; */
  letter-spacing: 6px;
  width: 100%;
  font-size: 30px;
  /* border: 2px solid black; */
}

#myName {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #424240;
  font-size: 30px;
  /* border: solid black; */
  padding: 0;
  margin-left: 2em;
  margin-bottom: 0%;
  margin-top: 1em;
  width: 50%;
  /* height: 10%; */
}

.middleContainer {
  display: flex;
  justify-content: space-between;
  border-top: 3px solid black;
  margin-bottom: 10%;
  margin-top: 20em;
  margin-right: 10%;
  margin-left: 10%;
  width: 80%;
}

.secondContainer {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 480px;
  background-color: rgba(89, 82, 93, 0.6);
  color: white;
  font-size: large;
}

#desertSouth {
  opacity: 0.8;
}

#gitHubLogo {
  height: 4em;
  width: 4em;
}

#linkedInLogo {
  height: 3em;
  width: 3em;
}

#footer {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 60px; /* Height of the footer */
  background: rgba(187, 214, 228, 0.6);
  border-top: 1px solid black;
}
